@{
    Layout = null;
}

<!Doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Login.js"></script>
    <link rel="stylesheet" href="~/Content/Login.css" />
    <title>登陆页面</title>
    <link href="~/Content/Style.css" rstylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="sideleft">
                <h1 style="color: deepskyblue">高校通——基于WebGIS的全国高校信息查询系统</h1>
            </div>
            <div class="sideright">
                <div class="index">
                    <form action="#" method="get">
                        <p class="headline">用户登录</p>
                        <p class="astyle">用户名</p>
                        <input type="text" id="userName" placeholder="请输入用户名">
                        <p class="astyle">密码</p>
                        <input type="password" id="passWord" placeholder="请输入密码">
                        <input type="button" value="登录" name="login" id="log">
                        </br>
                        <p class="bstyle"><input type="checkbox" name="rempas" />记住密码</p>
                        <p class="cstyle"><a href="#">忘记密码</a></p>
                        </br>
                        <p class="cstyle">没有账号？<a id="register" href="###">立即注册</a></p>
                        <p id="display"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

